* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-areas:    "header header"
                            "code console";
    grid-template-rows: 50px auto;
    grid-template-columns: 3fr 2fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: aliceblue;
    padding: 0.5em 1em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-tools{
    display: flex;
}

.header-tool{
    padding: 0.2rem 0.5rem;
}

.code {
    grid-area: code;
}

.console {
    grid-area: console;
}

h1 {
    margin: 0;
    font-family: system-ui;
}

#settings {
    display: flex;
    padding: 0.1rem 0.5rem;
    gap: 14px;
    align-items: center;
}

input[type=number] {
    width: 36px;
}

.settings-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

strong {
    text-wrap: nowrap;
}